.container{
    height: 95vh;
    width: 96vw;
   display: grid;
   grid-template-columns: repeat(2 , 1fr);
   gap: 5vw;
   padding: 10px 15px;
   border: 2px solid #000000;
}
.total{
    display: grid;
    align-items: center;
}
.image{
    background-color: #e1f504;
}
.image div{
    height: 100%;
    width: 60%;
    overflow: hidden;
    background-image: url(https://cdn.shopify.com/s/files/1/0066/7569/3639/articles/how-to-eat-healthy.jpg?v=1611987977);
}
.left div{
    height: 25px;
    width: 100px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
   text-decoration: none;
    color: #ffffff;
}
